
.block-second {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 120px;
	background: var(--light_green, #F5FAF3);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.one-text {
text-align: center;
	color: var(--text-color, #040A02);
	font-size: 36px;
	font-style: normal;
	font-weight: bold;
margin-right: auto;
margin-left: auto;
}


.btn-bestsellers {
	width: 155px;
	height: 41px;
	flex-shrink: 0;
	border-radius: 10px;
	background: var(--green, #125014);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	color: var(--light, #FFF);
	font-family: "Mplus 1p";
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 140%;
	align-self: center;
	border: none;
}
.card-best{
	display: flex;
	
}
.btn-bestsellers:hover {
	align-self: center;
	border-radius: 10px;
	background: #ffffff;
	border: 3px #125014 solid;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	flex-shrink: 0;
	color: #1A1A1A;
	text-transform: uppercase;
	font-weight: bolder;
}

.card-bestsellers {
	flex-wrap: wrap;
	margin-left: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	background: var(--light, #FFF);
	box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
	width: 240px;
	height: 312px;
	flex-shrink: 0;
	align-self: center;
	margin: 20px;
	text-align: center;
}

.bestsellers-img {
	width: 160px;
	height: 158px;
	flex-shrink: 0;
	align-self: center;
}

.price-best {
	text-align: center;
}

.more {
	background: none;
	text-decoration: underline #125014 2px;
	border: none;
}


.carousel{
    display: flex;
    justify-content: center;
}

.card-best{
    width: 180px;
    height: 180px;
    align-self: center;
}

.arrow{
background: none;
border: none;
}

.arrowleft, .arrowright{
    width: 20px;
    height: 40px;
    align-self: center;
}


@media screen and (max-width: 480px) {
	.card-bestsellers{
		
	}
}

@media screen and (max-width: 296px) {
.arrowleft, .arrowright{
	width: 20px;
    height: 30px;
}

.arrowleft{
	margin-right: -20px;
}
.arrowright{
	margin-left: -20px;
}
}