body {
  font-family: 'Inter', sans-serif;
}

/* Header */

nav {
  border-bottom: 2px solid rgba(18, 80, 20, 1);
  box-shadow: 4px 3px 4px 0 rgba(44, 104, 46, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./image/header-background.jpg');
  background-size: coder;
  background-repeat: no-repeat;
  padding: 0 120px;
}
.header{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  width: 100%;
}
.links{
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
  color: rgba(4, 10, 2, 1);
  margin-right: 16px;
  padding: 4px;
}
.link:hover{
  background-color: rgb(44, 104, 46);
  color: white;
}
.link:active{
  background-color: transparent;
}
.logo{
  margin-right: auto;
  font-size: 27px;
  font-weight: 700;
  line-height: 33px;
  color: rgba(14, 37, 7, 1);
}
.search{
  width: 146px;
  height: 31px;
  border-radius: 10px;
  border: 1px solid rgba(20, 53, 17, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.magnifier{
  width: 37px;
  height: 37px;
  margin: 0 7px;
}
.basket {
  width: 24px;
  height: 34px;
}
.burger-button{
  display: none;
}
@media all and (max-width: 1200px){
  nav{
    padding: 0 20px;
  }
.logo{
  font-size: 24px;
  }
}
@media all and (max-width: 900px){
  nav{
    padding: 0 10px;
  }
.logo{
  font-size: 18px;
}
.link{
  margin-right: 16px;
}
.search{
  width: 100px;
  height: 24px;
}
.magnifier{
  width: 30px;
  height: 30px;
}
.basket {
  width: 20px;
  height: 30px;
}
}

@media all and (max-width: 767px){
.links{
  position: fixed;
  top: 0;
  left: -225px;
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 100%;
  background-color: #fff;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 2px solid rgba(18, 80, 20, 1);
  box-shadow: 4px 3px 4px 0 rgba(44, 104, 46, 1);
  transition: transform 0.3s linear;
}
.links.active {
  transform: translateX(100%);
}
.link {
  padding: 10px 0;
}
.burger-button {
  display: block;
  background-color: transparent;
  border: 0;
}
.search{
  display: none;
}
}